.navbar {
    display: flex !important;
    min-height: 70px !important;
    background-color: #109E49 !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px !important;
}

.nombre-empresa {
    display: flex !important;
    min-height: 20px!important;
    background-color: #109E49!important;
    justify-content: space-between!important;
    align-items: center!important;
    padding: 10px!important;
}

.navbar-nav {
    justify-content: space-between!important;
    margin-left: 70%!important;
}

.logo {
    height: 50px !important;
    margin-right: 10px !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

nav a:hover {
    color: #FFD800!important;
}

@media (max-width:500px) {
    header {
        flex-direction: column !important;
    }
    nav {
        padding: 10px 0px !important;
    }
}

.btn {
    background-color: #109E49!important;
    margin-left: 73%;
    margin-right: 22%;
    margin-bottom: 2%;
}

#padre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#hijo {
    margin: 0% auto;
    text-align: justify;
}

.border-primary {
    border-color: #109E49!important;
}

table {
    width: 70%!important;
    margin-left: 10%!important;
    align-items: center!important;
}

.container2 {
    margin-top: 10%;
    margin-left: 70%;
    margin-right: 10%;
}

.btn2 {
    background-color: #109E49!important;
    margin-left: 55%;
    width: auto;
    height: auto;
}

a .color-link {
    color: black!important;
}

.btn-outline-success {
    color: white;
}